1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []

In [2]:
def remove_letters(l,st):
    for i in range(len(st)):
        if st[i] in l:
            l.remove(st[i])
    return l

In [5]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:










Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [45]:
def blocks(n):
    b1=5
    b=0
    for i in range(1,n+1):
        if i == 1:
            s = b1
            b = b+s
        else:
            s = b1+i
            b=b+s
            

    return b

In [50]:
blocks(5)

39

3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [55]:
def my_sub(n1,n2):
    count=0
    for i in range(n2,n1,-1):
        count=count+1
    return count

In [58]:
my_sub(0,0)

0

4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [75]:
def add_bill(st):
    s=0
    for i in st.split(","):
        if i.startswith("d") and not i.endswith("k"):
            s=s+int(i.removeprefix("d"))
        elif i.startswith("d") and i.endswith("k"):
            i=i.removeprefix("d")
            s=s+(int(i.removesuffix("k"))*1000)
    return s

In [77]:
add_bill("p30,d20,p60,d150,p360")

170

5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
#Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [1]:
import numpy as np
def flip_list(li):
    li2=[]
    for i in li:
        l=[]
        if type(i)!=list:
            l.append(i)
            li2.append(l)
        else:
            li2.append(i[0])
    return li2

In [3]:
flip_list([1,2,3,4])

[[1], [2], [3], [4]]